*{
    margin : 0;
    padding : 0;
}
body{
    width:100%;
    height:100vh;
    background-color:rgb(25, 24, 37);
    display:flex;
    align-items: center;
    flex-direction : column;
}
.menu{
    width:100%;
    height: 70px;
    background-image:linear-gradient(to right,    rgb(134, 93, 255), rgb(227, 132, 255));
    display: flex;
}
.board{
    width:500px;
    height:700px;                  
    border-style: dashed;
    border-color:rgb(238, 238, 238);
    border-radius: 40px;
    margin: 30px;
    margin-bottom : 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.idk{
    width:100%;
    height:100%;
    display: flex;
    align-items: flex-end;
}
.opt{
    width:100%;
    height:10%;
display: flex;
justify-content: space-between;
margin: 50px;
}
.next{
width: 120px;
height:120px;
border-radius: 50%;
background-color: rgb(255, 255, 255);
margin:-60px;
}
.next:hover{
    width:130px;
    height:130px;
    margin-right:-65px;
}
.omg{
    width: 120px;
    height:120px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin:-60px;
    }
    .omg:hover{
        width:130px;
        height:130px;
        margin-left:-65px;
    }
.exp{
    border-color: rgb(255, 163, 253);
    border-style: double;
}
.notice{
    width:300px;
    height:200px;
    background-color: rgb(255, 208, 0);
    margin:80px;
    margin-right:300px;
    border-radius: 15px;
}
.hoosonzurh{
    width:50px; 
    height:50px;
}